.header
  %a#reset{ href: '#', class: 'right btn' } Reset
  %h1 Meter

%ul.metrics
  %li
    %strong Time
    #time 0:00
  %li
    %strong Distance
    #distance 0.00
%ul#logs
  
:plain
  <script type="text/html" id="logs_tmpl">
    <% for (var i=logs.length; i>0; i--) { %>
      <li>
        <time><%= logs[i-1].date %></time>
        <%= logs[i-1].story %>
      </li>
    <% } %>
    <% if (logs.length == 0) { %>
    <li class="no-logs">Get on your bike, fat bastard.</li>
    <% } %>
  </script>

.footer
  = link_to "Do it, do it now.", new_trip_path, class: 'bfb', onclick: "window.location='#{new_trip_path}'; return false;"